:root {
  --base-font-size: 18px;
  --white: rgb(255, 255, 255);
  --bg-primary: rgb(245, 245, 245);
  --bg-blue: rgb(0, 123, 255);
  --bg-border: rgb(204, 204, 204);
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: var(--base-font-size);
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  position: fixed;
  top: 1rem;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: flex-start !important;
  overflow: auto;
}

.mg-bottom {
  margin-bottom: 0.85rem;
}

.input-title {
  margin-bottom: 0.5rem;
}

.weather-widget {
  border-top: 0.275rem solid var(--bg-blue);
  padding-top: 0.4rem;
}

.widget-content {
  padding: 2.5rem;
  background: var(--bg-primary);
  border: 1px solid var(--bg-border);
  border-radius: 0 0 0.4rem 0.4rem;
  display: flex;
  flex-direction: column-reverse;
}

.widget-field-set {
  display: flex;
  flex-direction: column;
  border: none !important;
  padding: 0 !important;
}

.prefix-degree:before,
.suffix-degree:after {
  content: "°";
}

.spinner {
  width: 3rem;
  height: 10rem;
}

.option-group {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin-top: 0.5rem;
  box-sizing: border-box;
  position: relative;
}

.seperator {
  flex: none;
  margin: 1rem;
  border: 0.5px solid var(--bg-border);
}

.caps {
  text-transform: uppercase;
}

header {
  flex: 1;
}

.preview-container {
  width: 15rem !important;
  background: white;
  border-radius: 0.2rem;
  box-shadow: 0 0 5px var(--bg-border);
  padding: 0 1rem;
}

.fade-in {
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 4s;
  animation-name: fade-in;
  animation-duration: 0.5s;
}

.preview-container .title {
  word-break: break-all;
  align-self: flex-start;
  margin: 1rem 0 3rem 1rem;
  word-break: break-word;
}

.preview {
  display: flex;
}

.form-input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid var(--bg-border);
  border-radius: 0.25rem;
  box-sizing: border-box;
}

.preview-description {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-end;
  padding: 0 0 1.5rem 0rem;
}

.preview-description > p,
.preview-description > h1 {
  margin: 0;
}

.radio-option {
  width: 50%;
  position: relative;
}

.radio-btn {
  outline: none;
  cursor: pointer;
  opacity: 0;
}

.checkbox-label {
  cursor: pointer;
  padding-left: 0.8rem;
}

.radio-btn:focus + .checkbox-label:before {
  box-shadow: 0 0 8px #007bff;
}

.radio-btn + .checkbox-label:before {
  border-radius: 50%;
  position: absolute;
  top: 0.2rem;
  left: 0.25rem;
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  content: "";
  border: var(--bg-border) solid 1px;
  transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  color: var(--white);
  background-color: var(--white);
}

.radio-btn:checked + .checkbox-label:before {
  border-color: var(--bg-blue) !important;
  background-color: var(--bg-blue) !important;
}

.radio-btn:checked + .checkbox-label:after {
  position: absolute;
  border-radius: 50%;
  top: 0.49rem;
  left: 0.53rem;
  display: block;
  width: 0.35rem;
  height: 0.35rem;
  content: "";
  background: no-repeat 50%/50% 50%;
  background-color: var(--bg-primary);
}

.preview > small {
  white-space: nowrap;
}

/* media queries */
@media (min-width: 768px) {
  :root {
    --base-font-size: 16px;
  }
  .widget-content {
    flex-direction: row;
  }
  main {
    justify-content: center !important;
  }
}

/* animations */
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
